<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linked_sys.hns">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.linked_sys.hns.core.AppController"
        package="in.myinnos.customimagetablayout"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <activity
            android:name="com.linked_sys.hns.ui.Activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.linked_sys.hns.ui.Activities.CommingSoonActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.linked_sys.hns.ui.Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.linked_sys.hns.ui.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.linked_sys.hns.ui.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.ProfileActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.linked_sys.hns.ui.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.AddSonActivity"
            android:label="@string/nav_add_son"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.linked_sys.hns.ui.Activities.MailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.ComposeMessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MailActivity" />

        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.ComposeGroupMessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MailActivity" />

        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.ComposeMessageToTeacherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MailActivity" />

        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.ComposeMessageToStudentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MailActivity" />

        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.MessageBodyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.linked_sys.hns.ui.Activities.TasksActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.E_LearningActivity"
            android:label="@string/txt_e_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linked_sys.hns.ui.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.linked_sys.hns.ui.Activities.NotificationActivity"
            android:label="@string/txt_e_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.linked_sys.hns.ui.Activities.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <service android:name="com.linked_sys.hns.Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.linked_sys.hns.Services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.linked_sys.hns.core.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f87b16f53ae56beedadc3392bacf71371f075b5e" />
    </application>

</manifest>